// Color light
:root {
    --body-color: #fff !important;
    --text-white-color: #fff;
    --background-color: #26566D;
    --box-sahdow: 5px 5px 0px 2px #FFA500;
    --border: 2px solid #FFA500;
    --text-color: #000;
    --header-color: #0EBFE9;
    --svg-color: #0EBFE9;
}

// Color dark
.dark:root {
    --body-color: #000 !important;
    --text-white-color: #fff;
    --background-color: #9E3A14;
    --box-sahdow: 5px 5px 0px 2px #0EBFE9;
    --border: 2px solid #0EBFE9;
    --text-color: #fff;
    --header-color: #FFA500;
    --svg-color: #FFA500;
}

// About Body color
$b-i: linear-gradient( 90.7deg, rgba(255, 253, 218, 1) 1.9%, rgba(246, 210, 255, 1) 39.3%, rgba(152, 222, 254, 1) 64.7%, rgba(251, 255, 210, 1) 100.8%);
$bg:#000;
$gray:#aeb1b8;
$blue:#0EBFE9;
$green:#7fdbca;
$yellow:#ecc48d;
$red:#ff5874;
$white:#f5f5f5;
$light:#d6deeb;