@import 'color.scss';
@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 var(--svg-color);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
    }
    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
    }
}

// about more  
@keyframes more {
    0% {
        color: var($white);
    }
    50% {
        color: var($white);
    }
    100% {
        color: transparent;
    }
}

// Name 
@keyframes name {
    0% {
        opacity: 0;
        transform: translateY(+100em);
    }
    50% {
        transform: translateY(-1em);
        opacity: 0.3;
    }
    100% {
        opacity: 1;
        transform: translateY(0em);
    }
}

// business
@keyframes business {
    0% {
        opacity: 0;
        transform: translateX(-100em);
    }
    60% {
        font-size: 0.8em;
    }
    100% {
        opacity: 1;
        font-size: 1em;
    }
}

// information
@keyframes information {
    0% {
        opacity: 0;
        transform: translateY(+100em);
    }
    50% {
        opacity: 0.2;
        transform: translateY(+50em);
    }
    100% {
        opacity: 1;
        transform: translateY((0em));
    }
}

// explanation
@keyframes explanation {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.3;
    }
    75% {
        opacity: 0.7;
    }
    100% {
        opacity: 1;
    }
}

// switch
@keyframes switch {
    0% {
        opacity: 0;
        transform: translateY(-100em);
    }
    50% {
        opacity: 0.2;
        transform: translateY(-50em);
    }
    100% {
        opacity: 1;
        transform: translateY((0em));
    }
}

// About
@keyframes about-me {
    0% {
        opacity: 0;
        transform: translateY(20rem);
    }
    100% {
        transform: translateY(0rem);
    }
}